@use "./base/reset";
@use "./componets/container";
@use "./componets/title";
@use "./componets/section";
@use "./utils/variables";
@use "./layout/header";
@use "./layout/hero_section";
@use "./layout/modal";
@use "./layout/skills_section";
@use "./layout/about_us_section";
@use "./layout/pricing_section";
@use "./layout/contact_us_section";
@use "./layout/footer";
@use "./layout/mobile_menu";