:root{
    --main-text-color: #000000;
    --second-text-color: #263238;
    --number-color: #2A3246;
    --pricing-text-color: #546269;
    --third-text-color: #8F95A5;
    --fourth-text-color: #939393;
    --pricing-bg: #EEEEEE;
    --skills-bg: #f5f5f5;
    --fifth-text-color: #FFFFFF;
    --font-family: "Poppins", sans-serif;
}

$main-text-color: #000000;
$second-text-color: #263238;
$number-color: #2A3246;
$pricing-text-color: #546269;
$third-text-color: #8F95A5;
$fourth-text-color: #939393;
$pricing-bg: #EEEEEE;
$skills-bg: #f5f5f5;
$fifth-text-color: #FFFFFF;
$font-family: "Poppins", sans-serif;

