<section id="contact_us" class="section contact_us">
    <div class="container contact_us-container">
        <div class=" contact_us-flex">
            <h2 class="contact_us-title title">Contact Us</h2>
            <p class="contact_us-text">Discover your current English level by
                taking our free online English test.
                Sign up to our newsletter for learning tips
                and free resource</p>
            <form class="contact_us-form">
                <input class="contact_us-form-input" placeholder="Enter Your E-mail" required type="email">
                <button class="contact_us-form-button" type="submit">Subscribe</button>
            </form>
        </div>
    </div>
</section>