<header class="header">
  <div class="header__container container">
    <a href="#" class="header__logo">Brit<span>lex</span></a>

    <button class="burger" aria-label="Open menu">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <nav class="header__nav">
      <ul class="header__menu">
        <li><a href="#home">Home</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#about">About Us</a></li>
        <li><a href="#pricing">Pricing</a></li>
        <li><a href="#contacts">Contacts</a></li>
      </ul>

    </nav>

    <a href="#" class="header__btn">Let’s Talk</a>
  </div>
</header>