<section class="hero_section">
  <div class="container hero">
    <div class="hero_div_wrapper">
      <h1 class="hero_title">
        <span>Learn</span>
        <span>Any Foreign</span>
        Language
      </h1>
      <p class="hero_text">
        With our teachers who write a program for each student,
       you will be able to make your first sketch after the first lesson.
      </p>
      <button class="hero_button">Get started</button>
    </div>

    <div class="hero_visual"></div>
  </div>
</section>
