        <div class="backdrop is-hidden" data-modal>
      <div class="modal">
        <button class="modal_close_button" data-modal-close>
          <svg class="icon_close" width="11" height="11">
            <use href="./img/symbol-defs.svg#icon-close"></use>
          </svg>
        </button>
        <form class="modal_form">
          <h3 class="modal_title">Залиште свої дані, ми вам передзвонимо</h3>
          <label class="modal_label">
            <span class="modal_span">Ім'я</span>
            <svg class="icon_modal" width="12" height="12">
              <use href="./img/symbol-defs.svg#icon-human"></use>
            </svg>
            <input class="modal_input" type="text" required />
          </label>
          <label class="modal_label">
            <span class="modal_span">Телефон</span>
            <svg class="icon_modal" width="14" height="14">
              <use href="./img/symbol-defs.svg#icon-phone"></use>
            </svg>
            <input class="modal_input" type="tel" required />
          </label>
          <label class="modal_label">
            <span class="modal_span">Пошта</span>
            <svg class="icon_modal" width="16" height="12">
              <use href="./img/symbol-defs.svg#icon-post"></use>
            </svg>
            <input class="modal_input" type="email" required />
          </label>
          <label class="modal_label">
            <span class="modal_span">Коментар</span>
            <textarea
              placeholder="Введіть текст"
              class="modal_textarea"
              ></textarea>
          </label>
          <div class="copy_div">
            <label class="copy_label">
              <input class="copy_input" type="checkbox" />
            </label>
            <span class="copy_span"
              >Погоджуюся з розсилкою та приймаю<a
                class="copy_link"
                href="./copyright.html"
                target="_blank"
                > Умови договору</a
              ></span
            >
          </div>
          <button class="button_label" type="submit">Відправити</button>
        </form>
      </div>
    </div>