<section class="pricing section">
  <div class="container">
    <h2 class="pricing-title title">Pricing</h2>
    <ul class="pricing_list">
      <li class="pricing_item">
        <h3 class="pricing_item-title pricing_item-img1">
          Self-study online course
        </h3>
        <div class="pricing_content">
          <p class="pricing_item-text">
            Start learning English online in live classes with qualified EC
            teachers and students from all over the world.
          </p>
          <div class="pricing_cost">
            <span class="pricing_cost-span">£5.99</span>
            <p class="pricing_cost-text">per month</p>
          </div>
        </div>
      </li>
      <li class="pricing_item">
        <h3 class="pricing_item-title pricing_item-img2">
          Live online classes
        </h3>
        <div class="pricing_content">
          <p class="pricing_item-text">
            Interactive group classes with expert teachers. Free 7-day trial
          </p>
          <div class="pricing_cost">
            <span class="pricing_cost-span"> £12.99</span>
            <p class="pricing_cost-text">per month</p>
          </div>
        </div>
      </li>
      <li class="pricing_item">
        <h3 class="pricing_item-title pricing_item-img3">Personal Tuition</h3>
        <div class="pricing_content">
          <p class="pricing_item-text">
            Online one-to-one English tutoring - enjoy our first session for
            only $1
          </p>
          <div class="pricing_cost">
            <span class="pricing_cost-span"> £20.99</span>
            <p class="pricing_cost-text">per month</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
