<section class="skils-section" id="skils">
    <div class="container">
        <h2 class="skils-title title">Skils</h2>
        <ul class="skils-list">
            <li class="skils-list-item">
                <h3 class="skils-list-item-title">Speaking</h3>
                <p class="skils-list-item-text">Improve your English skills and confidence. Live classes and interactive lessons online. 20% extra
                    free for a limited time only
                </p>
                <p class="skils-list-item-text skils-list-item-text-margin">
                    Learn English online and improve your
                    skills through our high-quality courses and resources
                    – all designed for adult language learners.
                </p>
                <button>Learn more</button>
            </li>
            <li class="skils-list-item">
                <h3 class="skils-list-item-title">Speaking</h3>
                <p class="skils-list-item-text">One of the most important and extensive areas of natural science, the science that studies
                    substances, also their composition </p>
                <button>Learn more</button>
            </li>
            <li class="skils-list-item">
                <h3 class="skils-list-item-title">Reading</h3>
                <p class="skils-list-item-text">perception and response actions
                    of the user resulting from the use and
                    or up coming use of the product,
                    system or service</p>
                <button>Learn more</button>
            </li>
            <li class="skils-list-item">
                <h3 class="skils-list-item-title">Listening</h3>
                <p class="skils-list-item-text">Here you can find activities to practise your listening skills. Listening will help you to improve
                    your understanding </p>
                <button>Learn more</button>
            </li>
        </ul>
    </div>
</section>