.container.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .img_hero {
    width: 298px;
    height: 298px;

    @media screen and (min-width: 576px) {
      width: 424px;
      height: 424px;
    }
    @media screen and (min-width: 768px) {
      width: 352px;
      height: 352px;
    }
    @media screen and (min-width: 992px) {
      width: 460px;
      height: 460px;
    }
    @media screen and (min-width: 1600px) {
      width: 661px;
      height: 661px;
    }
  }
  .hero_div_wrapper {
    text-align: center;
  }

  span {
    @media screen and (min-width: 768px) {
      display: block;
    }
  }

  .hero_title {
    position: relative;
    @media screen and (max-width: 575px) {

      font-family: var(--font-family);
      font-weight: 600;
      font-size: 24px;
      line-height: 150%;
      text-align: center;
      color: #000;
    }

    @media (min-width: 576px) {
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 34px;
      line-height: 132%;
      color: #000;
      margin-bottom: 26px;
    }
    @media screen and (min-width: 768px) {
    }
    @media (min-width: 992px) {
      margin-bottom: 33px;
    }
    @media (min-width: 1600px) {
      margin-bottom: 61px;
    }
  }
  .hero_title::after {
    @media screen and (min-width: 768px) {
      content: '';
    display: flex;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 25%;
    top: 60%;
    background-color: #fff;
    background-image: url("../img/hero_lamp.svg"); 
    background-repeat: no-repeat;
    background-size: cover;
    
    }
    @media (min-width: 992px) {
    right: 40%;
    top: 44%;
    width: 59px;
    height: 59px;
    }
    @media (min-width: 1600px) {
    width: 85px;
    height: 85px;
    right: 47%;
    top: 30%;
    }
  }
  .hero_text {
    font-family: var(--font-family);
    font-size: 18px;
    color: var(--third-text-color);
    margin-top: 22px;
    margin-bottom: 33px;
    font-weight: 400;
    @media (min-width: 576px) {
      font-size: 16px;
      margin-top: 28px;
      margin-bottom: 37px;
      width: 511px;
    }
    @media screen and (min-width: 768px) {
      font-size: 16px;
      margin-top: 25px;
      margin-bottom: 32px;
      width: 335px;
    }
    @media (min-width: 992px) {
      font-size: 22px;
      margin-top: 27px;
      margin-bottom: 33px;
      width: 460px;
    }
    @media (min-width: 1600px) {
      font-size: 24px;
      margin-top: 40px;
      margin-bottom: 61px;
      width: 556px;
    }
  }

  .hero_button {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;

    padding: 18px 99px;
    background-color: #263238;
    cursor: pointer;
    @media (min-width: 576px) {
      padding: 24px 100px;
    }
    @media screen and (min-width: 768px) {
      border-radius: 5px;
      padding: 19px 67px;
    }
    @media (min-width: 992px) {
      border-radius: 5px;
      padding: 22px 78px;
    }
    @media (min-width: 1600px) {
      border-radius: 15px;
      padding: 32px 118px;

      background-color: #263238;
      cursor: pointer;
    }
  }
  .hero_visual {
    @media screen and (min-width: 768px) {
      width: 160%;
    }

    @media screen and (min-width: 992px) {
      width: 120%;
    }
    @media screen and (min-width: 1600px) {
      width: 190%;
    }
  }

  @media (min-width: 768px) {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    .hero_div_wrapper {
      text-align: left;
    }
  }
}
