.pricing {
  &_list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 65px;
  }
  &_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 576px) {
        padding:0px 75px;
      }
      @media screen and (min-width: 768px) {
      }
      @media screen and (min-width: 992px) {
      }
      @media screen and (min-width: 1600px) {
      }
    &-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 18px;
      line-height: 156%;
      color: var(--second-text-color);
      margin-bottom: 25px;
      text-align: center;
      @media screen and (min-width: 576px) {
        font-size: 24px;
      }
      @media screen and (min-width: 768px) {
      }
      @media screen and (min-width: 992px) {
      }
      @media screen and (min-width: 1600px) {
      }
    }
    &-img1::before,
    &-img2::before,
    &-img3::before {
      content: '';
      display: block;
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: cover;
      margin-bottom: 12px;
    }
    &-img1::before {
      background-image: url('../img/pricing1.svg');
      width: 248px;
      height: 248px;
      @media screen and (min-width: 576px) {
        width: 291px;
        height: 291px;
      }
      @media screen and (min-width: 768px) {
      }
      @media screen and (min-width: 992px) {
      }
      @media screen and (min-width: 1600px) {
      }
    }
    &-img2::before {
      background-image: url('../img/pricing2.svg');
      width: 257px;
      height: 197px;
      @media screen and (min-width: 576px) {
        width: 314px;
        height: 214px;
      }
      @media screen and (min-width: 768px) {
      }
      @media screen and (min-width: 992px) {
      }
      @media screen and (min-width: 1600px) {
      }
    }
    &-img3::before {
      background-image: url('../img/pricing3.svg');
      width: 241px;
      height: 241px;
      @media screen and (min-width: 576px) {
        width: 253px;
        height: 253px;
      }
      @media screen and (min-width: 768px) {
      }
      @media screen and (min-width: 992px) {
      }
      @media screen and (min-width: 1600px) {
      }
    }
    &-text {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 13px;
      text-align: center;
      color: var(--third-text-color);
      @media screen and (min-width: 576px) {
        font-size: 14px;
      }
      @media screen and (min-width: 768px) {
      }
      @media screen and (min-width: 992px) {
      }
      @media screen and (min-width: 1600px) {
      }
    }
  }
  &_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    @media screen and (min-width: 576px) {
        height: 115px;
      }
      @media screen and (min-width: 768px) {
      }
      @media screen and (min-width: 992px) {
      }
      @media screen and (min-width: 1600px) {
      }
  }
  &_cost {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 170px;
    gap: 5px;
    border-radius: 5px;
    background-color: var(--pricing-bg);
    @media screen and (min-width: 576px) {
        width: 205px;
      }
      @media screen and (min-width: 768px) {
      }
      @media screen and (min-width: 992px) {
      }
      @media screen and (min-width: 1600px) {
      }
    &-span {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 18px;
      color: var(--second-text-color);
      @media screen and (min-width: 576px) {
        font-size: 22px;
      }
      @media screen and (min-width: 768px) {
      }
      @media screen and (min-width: 992px) {
      }
      @media screen and (min-width: 1600px) {
      }
    }
    &-text {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 14px;
      color: var(--pricing-text-color);
      @media screen and (min-width: 576px) {
        font-size: 16px;
      }
      @media screen and (min-width: 768px) {
      }
      @media screen and (min-width: 992px) {
      }
      @media screen and (min-width: 1600px) {
      }
    }
  }
}
