.skils {
    &-title {



        @media screen and (min-width: 576px) {
            font-size: 30px;
            line-height: 267%;
        }

        @media screen and (min-width:992px) {
            font-size: 36px;
            line-height: 222%;
        }

        @media screen and (min-width:1600px) {
            font-size: 48px;
            line-height: 167%;
        }

    }

    &-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &-list-item {
        width: 290px;
        height: 100%;
        background-color: var(--skills-bg);
        border-radius: 8px;
    }

    &-list-item-title {
        margin-left: 14px;
        margin-bottom: 18px;
    }

    &-list-item-text {
        margin-top: 12px;
        margin-bottom: 32px;
        margin-right: 22px;
        margin-left: 22px;
    }

    &-list-button {
        width: 178px;
        height: 50px;
        font-weight: 500;
        font-size: 14px;
        color: var(--fifth-text-color);
        background: var(--second-text-color);
        margin-left: 12px;
        margin-bottom: 44px;
        border-radius: 8px;
    }

    @media screen and (min-width: 576px) {
        width: 240px;
        height: 534px;
    }

    &-list-item::before {
        content: "";
        display: block;
        border-radius: 4px;
        margin-bottom: 30px;
        background-repeat: no-repeat;
        background-position: center;
    }


    &-list-item:nth-child(1)::before {
        background-image: url('../img/skils_goals.svg');
        width: auto;
        height: 212px;
    }

    &-list-item:nth-child(2)::before {
        background-image: url('../img/skils_typewriter.svg');
        width: auto;
        height: 204px;
    }

    &-list-item:nth-child(3)::before {
        background-image: url('../img/skils_bookshelves.svg');
        width: auto;
        height: 204px;
    }

    &-list-item:nth-child(4)::before {
        background-image: url('../img/skils_audience.svg');
        width: auto;
        height: 154px;
    }

}