.container {
  padding: 0 10px;
  margin: 0 auto;
  @media screen and (min-width: 320px) {
    width: 320px;
  }
  @media screen and (min-width: 576px) {
    width: 576px;
     padding: 0 32px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 992px) {
    width: 992px;
  }
  @media screen and (min-width: 1600px) {
    width: 1400px;
  }
}
