.section{
    padding: 30px 0;
    @media screen and ( min-width: 576px) {
        padding: 60px 0;
    };
    @media screen and ( min-width: 768px) {
        padding: 35px 0;
    };
    @media screen and ( min-width: 992px) {
        padding: 55px 0;
    };
    @media screen and ( min-width: 1600px) {
        padding: 95px 0;
    };
}