.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 333%;
    color: var(--main-text-color);
    margin-bottom: 40px;
    @media screen and ( min-width: 576px) {
        margin-bottom: 50px;
        font-size: 30px;
    };
    @media screen and ( min-width: 768px) {
        margin-bottom: 40px;
    };
    @media screen and ( min-width: 992px) {
        font-size: 36px;
    };
    @media screen and ( min-width: 1600px) {
        margin-bottom: 60px;
        font-size: 48px;
    };
}